
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url('https://i.postimg.cc/qMK5G20s/gamer-wallpaper.jpg');
    background-size: cover;
    display:grid;
    place-items: center;
    height: 65.3vh;
}

.Title{
    height: 13em;
    top:10px
}

.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.button{
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #24262b;
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
}

.img{
    height: 210px;
    width: 330px;
}

.button:hover{
    transition: 1s;
    transition-delay: 0.5;
    background-color: #dbb405;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}